<nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(26 46 52)">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
     
    </span>
  </button>
  <div  class="uk-animation-toggle" tabindex="0">
  <a href="" routerLink=""> <img class="uk-animation-fade uk-animation-reverse" src="../../assets/lost-loch-spirits-logo.jpeg" style="height: 100px;width: 200px;" alt="logo">
  </a>  </div>
  <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: right;">
    <ul class="navbar-nav" style="margin-right: 140px;color: white;">
     
      <li class="nav-item ">
        <a class="nav-link" routerLink="" active ><button type="button" class="btn btn-outline-dark" style="color: white;">Home</button> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" style="color: white;"><button type="button" class="btn btn-outline-dark" style="color: white;">About</button></a>
      </li>
     
    
      
    
    <div class="uk-inline" >
      <a class="nav-link"  style="color: white;"><button type="button" class="btn btn-outline-dark" style="color: white;">Products</button></a>
      

        <div uk-dropdown="mode: click" style="background-color: #4d110d;">
        <ul style="list-style: none;">
          <li class="nav-item">
            <a class="nav-link" routerLink="/samples" style="color: rgb(236, 234, 234);"><button type="button" class="btn btn-outline-dark" style="color: rgb(236, 234, 234);">eeNoo Gin</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/samples" style="color: rgb(236, 234, 234);"><button type="button" class="btn btn-outline-dark" style="color: rgb(236, 234, 234);">Murmichan</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/samples" style="color: rgb(236, 234, 234);"><button type="button" class="btn btn-outline-dark" style="color: rgb(236, 234, 234);">Haroosh</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/samples" style="color: rgb(236, 234, 234);"><button type="button" class="btn btn-outline-dark" style="color: rgb(236, 234, 234);">Singular Series</button></a>
          </li>
        </ul>
        </div>
    </div>
      <li class="nav-item">
        <a class="nav-link " routerLink="/contact" style="color: white;"><button type="button" class="btn btn-outline-dark" style="color: white;">Contact</button></a>
      </li>
    </ul>
  </div>
</nav>